.langContainer {
  position: fixed;
  z-index: 999;
  bottom: 0px;
  right: 30px;
  display: flex;
  background-color: #292929;
  padding: 20px;
  border-radius: 20px 20px 0 0;

  @media screen and (max-width: 960px) {
    border-radius: 20px 0 0 0;
    right: 0;
  }
}

.langLink {
  display: flex;
  font-size: 20px;
  pointer-events: all;
  background-color: transparent;
  border: none;
  font-family: "Laisha", sans-serif;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: #bc0e4d;
  }
}

.langLink:not(:last-child)::after {
  content: " | ";
  margin: 0 8px;
  color: #fff;
}

.langLinkSelected {
  @extend .langLink;
  color: #bc0e4d;
}
